---
title: My portfolio Page.
tags: Utils
layout: default.hbs
---


<section class="container">
   <div class="row">

      <div class="dgap"></div>

      <div class="logo">
         <span class="l1"></span>
         <span class="l2"></span>
         <span class="d2"></span>
         <span class="c1" ></span>
         <span class="c2" ></span>
         <span class="r1"></span>
         <span class="r2"></span>
         <span class="t2"></span>
      </div>

      <div class="dgap"></div>

      <div class="col-xs-8 col-xs-offset-2 center">
         <h3>Hello, My name is Naveen. I am a Designer / Front End Developer living in Bengaluru, India.</h3>
         <p>I bring along 9+ years of experience with me on Experience Technology domain , i am specialized in front end development, Responsive Web Development concepts, Creative design and Project management, and I believe in high-quality work that fuels the engagement between brands and their audience.<br><br> My passion is <strong>Design</strong>  and <strong>Technology</strong> </p>
         <p>The web is the <strong>Future</strong>, and I am thrilled to be it's <strong>architect</strong></p>
      </div>

      <div class="col-xs-12">
         <div class="gap"></div>
         <h4 class="center">My Skills &amp; Competencies </h4>
         <p class="center">I have been developing websites since 2009. Over the years I have learned and worked with many languages, frameworks. <br>Some of them I have only dabbled in while others I have all but mastered !  </p>
         <div class="skills center">
            <span>HTML</span>
      		<span>HTML5</span>
      		<span>CSS</span>
      		<span>CSS3</span>
      		<span>SASS</span>
      		<span>LESS</span>
      		<span>JavaScript</span>
      		<span>ES6</span>
      		<span>jQuery</span>
      		<span>React</span>
      		<span>Redux</span>
      		<span>Webpack</span>
      		<span>Grunt</span>
      		<span>Gulp</span>
      		<span>AJAX</span>
      		<span>JSON</span>
      		<span>Responsive Web Development</span>
      		<span>Bootstrap</span>
      		<span>RequireJS</span>
      		<span>Photoshop</span>
      		<span>GIT</span>
      		<span>Adobe CQ</span>
      		<span>Hybris</span>
      		<span>Sitecore</span>
      		<span>SVN</span>
      		<span>Handlebarsjs</span>
      		<span>Design Patterns</span>
      		<span>Search Engine optimization</span>
      		<span>Analytics</span>
      		<span>DOM</span>
      		<span>BOM</span>
      		<span>MySQL</span>
      		<span>XML</span>
      		<span>MVC</span>
      		<span>PHP</span>
      		<span>WordPress</span>
      		<span>Documentation</span>
      		<span>Web Designing</span>
      		<span>Web Development</span>
      		<span>Front-End Developement</span>
      		<span>User Interface</span>
      		<span>Google API's</span>
      		<span>Social Media</span>
      		<span>Object-oriented JavaScript</span>
      		<span>CMS</span>
      		<span>SDLC</span>
      		<span>Debugging</span>
      		<span>Firebug</span>
      		<span>Fiddler</span>
      		<span>FTP</span>
      		<span>Jquery Frameworks</span>
      		<span>UI Architecture</span>
      		<span>Semantic markup</span>
      		<span>Agile methodology</span>
      		<span>Quick learner</span>
      		<span>Unit Testing</span>
      		<span>Pixel-Perfect hand coding</span>
      		<span>W3C Validation</span>
      		<span>Optimizing critical rendering path</span>
      		<span>Page load optimization</span>
      		<span>Communication Skills</span>
      		<span>REST</span>
      		<span>Dynamic pages</span>
      		<span>Static pages</span>
      		<span>Microsoft Windows</span>
      		<span>IOS</span>
      		<span>Widgets</span>
      		<span>Team Lead</span>
      		<span>Individual contributor</span>
      		<span>Image Spriting</span>
      		<span>Codereview Documents</span>
      		<span>Cross Browser Compatibility</span>
      		<span>Adaptive Web Design.</span>
      		<span>Website Maintenance</span>
         </div>
         <div class="gap"></div>
      </div>
   </div>
</section>

<section class="container-fluid testimonial">
  <div class="row">
     <div class="col-xs-12 center">
        <h4>Want to Contact Me .? </h4>
        <a href="mailto:naveenkumarpg@gmail.com">Mail me</a>
     </div>
  </div>
</section>

<div class="gap"></div>

<p class="center">Copyright Naveen 2018 </p>

<div class="gap"></div>
