<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
    </head>
    <body>
        {{> GlobalHeader }}

        <div class="main-content">
            {% body %}
        </div>

        {{> GlobalFooter }}
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css" media="screen" title="no title">
        <div class="bline top"></div>
        <div class="bline left"></div>
        <div class="bline right"></div>
        <div class="bline bottom"></div>
    </body>
</html>
